@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Open+Sans|Oswald|Roboto|Trirong');
@import url('https://fonts.googleapis.com/css?family=Proza+Libre');

/* Main Body (General Ruleset)
==================================================
*/

html,body {
  height:100%;
  font-family: 'Proza Libre', sans-serif;
  padding-bottom:0px !important;
  overflow-x:hidden !important;}
}

.carousel-inner,.carousel,.item,.container,.fill {
  height: 100%;
  width:100%;
  background-position:center center;
  background-color: black;
}

button, input, select, textarea {
  background-color: black;
  border-radius: 5px;


}




/* Fixed Top (Responsive) Navigation
==================================================
*/

.input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group{
  height: 52px;
  margin-right: 1px;
  color: #ffffff;
}
.dropdown-item{
  display: block;
  text-decoration: none;
  background-color: white;
  border: none;
}
.dropdown-item:hover{
  text-decoration: none;
  color: blue;
}
#mainNavContainer{
  background-color: transparent;
  margin-bottom: -300px;
}

.navbar-nav>li>a, .navbar-inverse .navbar-brand{
  font-size: 18px;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000;
}

.navbar-inverse .navbar-nav>li>a:hover{
  color: #1976d2;
}

.navbar-brand{
  font-weight: 700;
}
.navbar-brand>span:hover{
  text-decoration: underline;
}

.navbar, .navbar-inverse, .navbar-fixed-top, .z-depth-1{
  background-color: #512da8;
}

#searchForm{
  margin: 0 auto;
  width: 50%;
  text-align: center;

}
.ui-menu{
  z-index:10000;
  padding-top: 15px;
}

#searchForm input{
  padding:15px;
  width: 100%;
  height: 5%;
  text-align: center;
}

#searchForm input:active{
  background-color: #9E9E9E;
  color: white;
  text-align: center;
}

.museum-item{
  margin-left: 10px;
  margin-right: 10px;
}
/* Carrousel
==================================================
*/
.carousel-inner,.carousel,.item,.container,.fill {
  height: 100%;
  width:100%;
  background-position:center;
}

.item img{
  min-width: 100%;
  min-height: 100%;

}

.carousel-caption {
  top: 45%;
  right: 20%;
  left: 20%;
  font-size: 22px;
  text-shadow: 2px 2px 4px #000000;
  z-index: 99999;
  padding-bottom: 0;
  overflow-y:scroll;
}

::-webkit-scrollbar{
  width:20px;
}

::-webkit-scrollbar-thumb{
   background-color: rgba(255,255,255,0);
}

-scrollbar{
  width:20px;
}

-scrollbar-thumb{
   background-color: rgba(255,255,255,0);
}

.carousel-caption a {
  color:#fff;
  text-shadow: 600;
  font-weight: 700;
  font-size: 20px;
  text-shadow: 11px 12px 14px #000000;
}
.carousel-caption a:hover {
  color: #FFFFFF;

}

.myCarousel{
  height: 100%;
  width: 100%;
}
#myCarousel ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

#myCarousel ul li{
  width: 100%;
  height: 110px;
  margin: 0;
  padding: 0 20px;
  padding-bottom: 10px;
  border-bottom: 2px dotted #CCC;

  -webkit-animation: carouselAnim 2s;
  -moz-animation: carouselAnim 2s;
  animation: carouselAnim 2s;
}

.outerMapDiv{
  margin:0px auto;
   text-align:center;
   padding-bottom: 200px;
}
.googleMap{
  margin:0px auto;
  display:inline-block;

}

@-webkit-keyframes carouselAnim{
  0% {opacity: : 0.3; }
  100% {opacity: : 1.0; }
}
@-moz-keyframes carouselAnim{
  0% {opacity: : 0.3; }
  100% {opacity: : 1.0; }
}
@keyframes carouselAnim{
  0% {opacity: : 0.3; }
  100% {opacity: : 1.0; }
}


/*Section (General Settings)
=================================================
*/
.section{
    margin:0 auto;
}
.section h1{

  text-align: center;
  margin-bottom: 15px;
}

/* About
==================================================
*/
#about{
  background-color: #F8BBD0;
}

/* FAQ
==================================================
*/
#faq{
  background-color: #03A9F4;
}

/* Footer
==================================================
*/
footer {
    background-color: #333;
    padding: 20px;
    padding-bottom: 6px;
    color: #fff;
    border-bottom: 12px solid #777;
}
}
footer p{
  color: #FFFFFF;
  text-align: center;
  height: 100%;
  font-size:18px;
}

/* Custom Overrides
==================================================
*/

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 1px !important;
}

#search {
    border-radius: 2px;
}

.navbar-inverse {
    background-color: #333;
    border-color: #333;
    padding: 10px;
    box-shadow: 12px 6px 11px -3px #444;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    filter: alpha(opacity=50);
    opacity: .5;
    display: none;
}

/* Page Specific Styling
==================================================
*/
.page {
    top: 20%;
    right: 20%;
    left: 20%;
    font-size: 22px;
    text-shadow: 2px 2px 4px #000000;
    z-index: 99999;

}
