@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Open+Sans|Oswald|Roboto|Trirong');

/* Main Body (General Ruleset)
==================================================
*/

html,body {
  height:100%;
  font-family: 'Roboto', sans-serif;
}

.carousel-inner,.carousel,.item,.container,.fill {
  height: 50%;
  width:100%;
  background-position:center center;
}



/* Fixed Top (Responsive) Navigation
==================================================
*/

#mainNavContainer{
  background-color: #000000;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand{
  font-size: 18px;
  color: #FFFFFF;
}

/* Carrousel
==================================================
*/
.carousel-caption {
  top: 30%;
  right: 20%;
  left: 20%;
}

/*Section (General Settings)
=================================================
*/
.section{
    margin:0 auto;
}
.section h1{

  text-align: center;
  margin-bottom: 15px;
}

/* About
==================================================
*/
#about{
  background-color: #F8BBD0;
}

/* FAQ
==================================================
*/
#faq{
  background-color: #03A9F4;
}

/* Footer
==================================================
*/
footer{
  background-color: #000000;
}
footer p{
  color: #FFFFFF;
  text-align: center;
  height: 100%;
}
